*{
	margin: 0;
	padding: 0;
}

/*
body{
	font-family: 'Helvetica Neue', Helvetica, Arial;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
*/

header{
	border-bottom: 2px solid red;
	background-color:#4d88ff;
	color: white;
}

header p img{
	height: 10em;
}

header p{
	width: 15%;
	float: left;
}

#barra_login{
	background-color:#4d88ff;
	padding: 0.5em;
	color: white;
	text-align: right;
}

#barra_login label{
	font-weight: bold;
	font-size: }

#barra_login .btn, .btn-lg {
    padding: .1rem 1rem;
    font-size: 1em;
}

#barra_login input[type="text"],#barra_login input[type="password"] {
	border: 1px solid #999;
	border-radius: 0.2em;
}




.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}


nav{
	clear: both;
	margin-left: 1em;
	margin-button: 1em;
}

nav ul{
	float:left;
	list-style-type:none;
}

section{
	margin-right: 15%;
	margin-left: 15%;
}

section form{
	margin-top: 1em;
	border-radius: 0.5em;
	border: 1px solid #ddd;
	padding: 1em;
	background-color: #ccc;
}

section .btn, .btn-lg {
    padding: .1rem 1rem;
    font-size: 0.92em;
 }

#imagenes_destinos{
	margin: 1em 0 1em 0;
	padding: 1em 1em 1em 20%;
	border-radius: 0.5em;
	border: 1px solid #ddd;
	background-color: #ccc;
}

.ficha{
	margin: 1em 0 1em 0;
	padding: 1em 1em 1em 2em;
	border-radius: 0.5em;
	border: 1px solid #ddd;
	background-color: #ccc;
}

.ficha p {
	margin: 0 1em;
	
}

#imagenes_destinos img{
	width: 20%;
	float: left;	
}

#imagenes_destinos img + img{
	margin-left: 5%;
}

#imagenes_destinos p{
	clear: both;
}

nav{
	clear: both;
	margin-left: 1em;
	margin-button: 1em;
}

form + h3 {
	margin-top: 1em;	
}

th{
	background-color: #4d88ff;
	font-weight: bold;
	color:white;
}

td{
	background-color: white;
}

#errors{
	margin: 1em 0 1em 1em;
	color: #b30000;
}

#errors p{
	font-weight: bold;
}

#errors ul li{
	margin-left: 1.5em;
}

/*
#errors{
	background-color: #FC9D9D;
	border-radius: 0.5em;
	padding: 0.5em;
}



table{
	 border-collapse: collapse;
}

th,td{
	padding: 0.5em;
	border: 1px solid #CCC;
}



.cell{
  padding: 6px 12px;
}

.bold{
	font-weight: bold;
}

.validationError{
	color: red;
	margin-left: 1em;
}*/


section form input[type="text"]:focus, section form input[type="password"]:focus, section form input[type="email"]:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

section form input[type="text"], section form input[type="password"], section form input[type="email"] {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
        border-top-color: rgb(206, 212, 218);
        border-right-color: rgb(206, 212, 218);
        border-bottom-color: rgb(206, 212, 218);
        border-left-color: rgb(206, 212, 218);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


select:focus{
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}

select {
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
        border-top-color: rgb(206, 212, 218);
        border-right-color: rgb(206, 212, 218);
        border-bottom-color: rgb(206, 212, 218);
        border-left-color: rgb(206, 212, 218);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.alinear_derecha{
	text-align: right;
}

section {
	margin-bottom: 4em;
}

footer{
	margin-top: 2em;
	border-top: 1px solid #eee;
	font-size: 0.95em;
	padding: 0.5em;
	text-align: center;
	font-weight: bold;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    height: 100px;
    bottom: 0;
	position: fixed;
    height: 3em;
    bottom: 0;
    width: 100%;
}